<div class="user-table-container">
  <div class="card">
    <p-toast></p-toast>
    <p-table [value]="displayedUsers" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:20%">ID</th>
          <th style="width:20%">Username</th>
          <th style="width:20%">Email</th>
          <th style="width:20%">Roles</th>
          <th style="width:20%">Edit</th>
        </tr>
        <tr>
          <th>
            <p-columnFilter type="text" field="id"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="username"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="email"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="roles"></p-columnFilter>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="user">
          <td>
            {{user.id}}
          </td>
          <td>
            {{user.username}}
          </td>
          <td>
            {{user.email}}
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <div *ngFor="let role of roles">
                  <p-checkbox [value]="role.value" [(ngModel)]="user.roles"
                    (ngModelChange)="changeRole(user)"></p-checkbox>
                  <label>{{ role.label }}</label>
                </div>
              </ng-template>
              <ng-template pTemplate="output">
                {{ user.roles?.join(', ') }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <div class="flex align-items-center justify-content-center gap-2">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                (click)="onRowEditInit(user)" class="p-button-rounded p-button-text">
              </button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                (click)="onRowEditSave(user)" class="p-button-rounded p-button-text p-button-success mr-2">
              </button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                (click)="onRowEditCancel(user, ri)" class="p-button-rounded p-button-text p-button-danger">
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="card flex justify-content-center">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[5, 10, 15]"></p-paginator>
    </div>
  </div>
</div>
